# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt

# IDE files
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS-specific
.DS_Store
Thumbs.db

# VS Code
.vscode/